* {
  background-color: black;
  border-style: solid;
  border-color: red;
}

#container {
  display: flex;
  height: 960px;
  width: 960px;
}

.boxX {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: auto;
}

.boxY {
  display: flex;
  flex: 1;
  background-color: lightblue;
}

.highlight {
  background-color: yellow;
}